@import url(../../../node_modules/highlight.js/styles/atom-one-dark.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.home {
    position: absolute;
    top: 10px;
    left: 26px;
    margin: 0;
    padding: 0;
    width: 225px;
    height: 60px;
    background-image: url(/assets/img/pop-php-logo2.png);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-size: 225px 60px;
    display: inline-block;
}

.home > h1 {
    @apply hidden
}

h2 {
    @apply pt-4 pb-4 text-4xl font-bold
}

h3 {
    @apply pt-2 pb-2 text-3xl font-bold
}

h4 {
    @apply pt-2 pb-2 text-2xl font-bold
}

h5 {
    @apply pt-1 pb-1 text-lg font-bold
}

p {
    @apply pt-4 pb-4 text-sm leading-6
}

a {
    @apply text-blue-600 hover:text-orange-700
}

.col-right {
    z-index: 1;
    width: calc(100% - 280px);
}
.col-left {
    z-index: 2;
    width: 280px;
}

.side-nav > li {
    @apply mt-8 mb-8 block
}

.side-nav > li > a {
    @apply block text-black font-bold text-sm transition ease-in-out hover:text-gray-600 hover:translate-x-2 duration-300 dark:text-gray-300 dark:hover:text-gray-500
}

.side-nav > li > ul {
    @apply mt-3 mb-3 ml-4 list-none
}

.side-nav > li > ul > li {
    @apply mt-3 mb-3 font-normal transition ease-in-out hover:translate-x-2 duration-300
}

.side-nav > li > ul > li > a {
    @apply text-sm text-gray-700 hover:text-gray-400 dark:text-gray-500 dark:hover:text-gray-100
}

pre {
    @apply relative mt-4
}

pre > code {
    @apply relative p-2 rounded-lg text-sm
}

.copy-link {
    @apply absolute top-2 right-2 pl-1 pt-1 w-8 h-8 rounded-md float-right text-gray-200 bg-gray-600 hover:text-gray-200 hover:bg-gray-900 active:bg-blue-500
}

.bash-prompt:before {
    content: '$ '
}

.search, .search:focus {
    width: 190px;
    border: none;
    outline: none;
}

.search:before {
    content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-600"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" /%3E%3C/svg%3E');
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .home {
        width: 60px;
    }

    .nav-icon {
        display: inline;
    }

    .col-right {
        width: 100%;
    }

    .col-left {
        position: fixed;
        top: 64px;
        left: -280px;
        bottom: 0;
        display: block;
    }

    h2 {
        @apply pt-4 pb-4 text-3xl font-bold
    }

    h3 {
        @apply pt-2 pb-2 text-2xl font-bold
    }

    h4 {
        @apply pt-2 pb-2 text-xl font-bold
    }

}